<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.dm7.barcodescanner.zxing.sample">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:appComponentFactory="whateverString"
        tools:replace="android:appComponentFactory"
        android:allowBackup="true"
        android:label="약 알리미"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name="com.example.medicine_project.LoadingActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.medicine_project.MenuActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name="com.example.medicine_project.RESULT_ACTIVITY"
            android:exported="false"
            android:theme="@style/AppOverlayTheme"></activity>
        <activity
            android:name="com.example.medicine_project.MainActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.example.medicine_project.FullScannerActivity"
            android:theme="@style/AppOverlayTheme"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.example.medicine_project.FullScannerFragmentActivity"
            android:theme="@style/AppOverlayTheme"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.example.medicine_project.SimpleScannerActivity"
            android:theme="@style/AppOverlayTheme"></activity>
        <activity
            android:name="com.example.medicine_project.SimpleScannerFragmentActivity"
            android:theme="@style/AppOverlayTheme"></activity>
        <activity
            android:name="com.example.medicine_project.FullScreenScannerFragmentActivity"
            android:theme="@style/AppOverlayTheme"></activity>
        <activity
            android:name="com.example.medicine_project.CustomViewFinderScannerActivity"
            android:label="@string/custom_view_finder_scanner_activity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.example.medicine_project.ScalingScannerActivity"
            android:label="@string/scaling_scanner_activity"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name="com.example.medicine_project.AlarmActivity"
            android:exported="false"
            android:theme="@style/AppOverlayTheme"/>
        <activity
            android:name="com.example.medicine_project.DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat"/>

    </application>

</manifest>